youtube-transcript-api
streamlit
google-generativeai
python-dotenv
pathlib
langchain
langchain-community
langchain-openai
openai
langchain_core
biopython
fuzzywuzzy
python-Levenshtein
pandas
aiohttp
scikit-learn
nltk
streamlit_lottie
requests
pydantic
numpy
setuptools
yt-dlp
deepmultilingualpunctuation